Thumbs.db
.DS_Store
.gradle

.idea
out/

*.iml
*.ipr
*.iws

.project
.settings
.classpath

USE/build/.dependencies
USE/build/classes/main/META-INF/
USE/build/springloaded/
USE/build/tmp/compileGroovy/
